body {
    margin: 0;
    padding: 0;
    background: #333;
    font-family: Arial, Helvetica, sans-serif;
}

#game-container {
    position: absolute;
    width: 340px;
    margin: 70px auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 12px 7px;
    border: 2px solid #7f7f7f;
    border-radius: 30px;
}

.header {
    color: #f0f0f0;
    text-align: center;
}

#game-bg {
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    border: 2px solid #104100;
    height: 230px;
    width: 100%;
    border-radius: 30px;
    animation: enter 2s ease 0s 1 both;
}

@keyframes enter {
0% {
    background-position: center;
    background-size: 100%;
}

100% {
    background-position: center;
    background-size: 120%;
    border: 2px solid #196b00;
}
}

#victory {
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: none;
    animation: zoom 1s ease 0s 1 both;
}

#worm {
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: none;
    animation: zoom 1s ease 0s 1 both;
}

@keyframes zoom {
0% {
    transform: translate(-50%, -50%) scale(0.5);
}

100% {
    transform: translate(-50%, -50%) scale(1);
}
}

.target {
    background-image: url(img/apple.png);
    background-size: cover;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    animation: fall 2s ease 0s 1 both;
}

@keyframes fall {
0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-200px);
}

38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
}

55% {
    animation-timing-function: ease-in;
    transform: translateY(-65px);
}

72% {
    animation-timing-function: ease-out;
    transform: translateY(0);
}

81% {
    animation-timing-function: ease-in;
    transform: translateY(-28px);
}

90% {
    animation-timing-function: ease-out;
    transform: translateY(0);
}

95% {
    animation-timing-function: ease-in;
    transform: translateY(-8px);
}

100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
}
}

.target-x {
    background-image: url(img/apple.png);
    background-size: cover;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    animation: fall 2s ease 0s 1 both;
}

#game-button {
    margin: 70px 25px 0;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 500;
    background: rgb(224, 36, 55);
    box-shadow: 0px 5px 25px 4px #f444565d;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all ease 0.3s;
    display: none;
}

#game-button:hover {
    background-color: #00a521;
    box-shadow: 0px 5px 25px 4px rgba(0, 138, 39, 0.3);
}

#itemList {
    color: white;
    font-size: 20px;
    margin: 20px;
    text-align: center;
}

.found {
    text-decoration: line-through;
    color: #888;
    
}